In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input/pharma-sales-data/saleshourly.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df = pd.read_csv('/kaggle/input/pharma-sales-data/saleshourly.csv')
df

,datum,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
0,1/2/2014 8:00,0.00,0.67,0.4,2.0,0.0,0.0,0.0,1.0,2014,1,8,Thursday
1,1/2/2014 9:00,0.00,0.00,1.0,0.0,2.0,0.0,0.0,0.0,2014,1,9,Thursday
2,1/2/2014 10:00,0.00,0.00,0.0,3.0,2.0,0.0,0.0,0.0,2014,1,10,Thursday
3,1/2/2014 11:00,0.00,0.00,0.0,2.0,1.0,0.0,0.0,0.0,2014,1,11,Thursday
4,1/2/2014 12:00,0.00,2.00,0.0,5.0,2.0,0.0,0.0,0.0,2014,1,12,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50527,10/8/2019 15:00,0.00,0.40,0.0,11.3,1.0,0.0,0.0,0.0,2019,10,15,Tuesday
50528,10/8/2019 16:00,0.33,0.00,0.0,1.0,2.0,0.0,0.0,0.0,2019,10,16,Tuesday
50529,10/8/2019 17:00,0.00,0.00,0.0,1.0,2.0,0.0,1.0,0.0,2019,10,17,Tuesday
50530,10/8/2019 18:00,0.00,0.00,0.0,9.0,0.0,0.0,0.0,0.0,2019,10,18,Tuesday
50531,10/8/2019 19:00,0.00,0.33,0.0,8.0,1.0,0.0,1.0,0.0,2019,10,19,Tuesday